
@font-face {
	font-family: 'HongKongSixty'; 
	src: url('fonts/ChaletComprime-HongKongSixty.ttf'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'CologneSixty'; 
	src: url('fonts/ChaletComprime-CologneSixty.ttf'); 
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url("images/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.cont {
    backdrop-filter: blur(4px);
    background: rgba(70, 70, 70, 0.308);
    min-height: 100vh;
}
h1 {
    font-family: "HongKongSixty";
    font-weight: 400;
    font-size: 48px;
    color: #fff;
}
li {
    font-family: "CologneSixty";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
}
.jend {
    justify-content: flex-end;
}
.menu {
    border-left: 1px solid rgba(188, 187, 187, 0.6);
    
}
.logoStaiton {
    width: 28px;
    height: 28px;
}
a {
    font-family: "CologneSixty";
    font-weight: 400;
    font-size: 24px;
    color: #fff!important;
}
a:hover {
    color: #f5c550!important;
}
.staison {
    border-right: 1px solid rgba(188, 187, 187, 0.6);
}
.composition {
    border-bottom: 1px solid rgba(188, 187, 187, 0.6);
    border-top: 1px solid rgba(188, 187, 187, 0);
    border-left: 1px solid rgba(188, 187, 187, 0);
    border-right: 1px solid rgba(188, 187, 187, 0);
}
/* .music .composition:hover {
    border: 1px solid #f5c550;
    background: rgba(40, 40, 40, 0.6);
} */
.hov:hover {
    border: 1px solid #f5c550;
    background: rgba(40, 40, 40, 0.6);
}
.music .active {
    background-color: #f5c550;
    color: #fff;
}
.music .active a:hover {
    color: #fff!important;
}
.music p {
    
    font-weight: 400;
    font-size: 16px;
    color: #fff!important;
}
.music {
    overflow-x: hidden; /* прокрутка по горизонтали */
overflow-y: scroll; /* прокрутка по вертикали */
max-height: 60vh;
}
.music::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
  }
  .music::-webkit-scrollbar-track {
    background: rgba(188, 187, 187, 0.6);        /* цвет дорожки */
  }
  .music::-webkit-scrollbar-thumb {
    background-color: #f5c550;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid rgba(188, 187, 187, 0.6);  /* padding вокруг плашки */
  }
.bottomplayer {
    position: absolute;
    bottom: 0; /* Цепляем к нижней границе */
    width: 100%;
    
}
span {
    font-family: "CologneSixty";
    font-weight: 400;
    font-size: 24px;
    color: #fff!important;
}
.playerControler {
    background: rgba(40, 40, 40, 0.6);
}
input[type="range"] {
    -webkit-appearance: none; /* Убираем стандартные стили для WebKit */
    appearance: none;
    width: 100%; /* Ширина во всю ширину контейнера */
    height: 20px; /* Высота */
    background: rgba(188, 187, 187, 0.6); /* Цвет фона поля */
    outline: none; /* Убираем outline */
    opacity: 1; /* Прозрачность */
    transition: opacity .2s;
    border-radius: 10px; /* Закругленные углы */
    position: relative; /* Для позиционирования псевдоэлементов */
}

/* Стили для ползунка в WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; /* Ширина ползунка 10px */
    height: 20px; /* Высота ползунка */
    background: #f5c550; /* Цвет ползунка */
    cursor: pointer;
    border-radius: 5px; /* Закругленные углы */
    position: relative;
    z-index: 2; /* Чтобы ползунок был поверх заполненной части */
}

/* Стили для заполненной части в WebKit */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, #f5c550 var(--fill-percent), transparent 0); /* Градиент для заполненной части */
    border-radius: 10px;
}

/* Стили для ползунка в Firefox */
input[type="range"]::-moz-range-thumb {
    width: 10px; /* Ширина ползунка 10px */
    height: 20px; /* Высота ползунка */
    background: #f5c550;
    cursor: pointer;
    border-radius: 5px; /* Закругленные углы */
}

/* Стили для заполненной части в Firefox */
input[type="range"]::-moz-range-progress {
    background: #f5c550; /* Цвет заполненной части */
    height: 20px;
    border-radius: 10px;
}

/* Стили для ползунка в Edge */
input[type="range"]::-ms-thumb {
    width: 10px; /* Ширина ползунка 10px */
    height: 20px; /* Высота ползунка */
    background: #f5c550;
    cursor: pointer;
    border-radius: 5px; /* Закругленные углы */
}

/* Стили для заполненной части в Edge */
input[type="range"]::-ms-fill-lower {
    background: #f5c550; /* Цвет заполненной части */
    border-radius: 10px;
}